<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-6">
      <h1>Unscrubbed Papers</h1>

      <%= render "table", papers: @papers.submitted %>
    </div>

    <div class="col-xs-12 col-sm-6">
      <h1>Scrubbed Papers</h1>

      <%= render "table", papers: @papers.scrubbed %>
    </div>
  </div>
</div>
