<div class="container full-page">
  <div class="row">
    <div class="col-xs-12 text-center">
      <%= image_tag "logo-vertical.png", class: "logo" %>

      <div class="intro">
        <span>Two Days • Single Track</span>
        <span>June 22—23, 2017</span>
        <span>Singapore</span>
      </div>

      <%= link_to new_my_paper_path, class: "btn btn-lg btn-success" do %>
        <%= fa_icon "github" %>
        Submit a Paper
      <% end %>

      <p class="btn-subtitle">(We'll ask you to authorize through GitHub.)</p>
    </div>
  </div>
</div>
