<div class="container container-padded">
  <div class="row">
    <div class="col-xs-12 text-center">
      <%= image_tag "logo-vertical.png", class: "logo" %>

      <div class="intro">
        <span>Two Days • Single Track</span>
        <span>June 22—23, 2017</span>
        <span>Singapore</span>
      </div>

      <div class="intro">
        <span>Submission Deadline: Mar 15th 2017</span>
      </div>

      <%= link_to new_my_paper_path, class: "btn btn-lg btn-success" do %>
        <%= fa_icon "github" %>
        Submit a Paper
      <% end %>
      <p class="btn-subtitle">We'll ask you to authorize through GitHub.</p>
      <p class="btn-subtitle">Please set your name and email to public visibility in your GitHub Settings.</p>
    </div>
  </div>
</div>

<div class="container-fluid container-padded bg-alt">
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-sm-offset-3">
      <h2>Requirements</h2>

      <ul>
        <li>Paper and actual talk must be in English.</li>
        <li>Paper must have a title and an abstract of around 100 words.</li>
        <li>Paper must be submitted before 2017-03-15 23:59:59 UTC.</li>
        <li>Paper contents must adhere to our <%= link_to "Code of Conduct", "http://www.reddotrubyconf.com/code-of-conduct#content" %>.</li>
      </ul>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12 col-sm-6 col-sm-offset-3">
      <h2>Submission Policy</h2>

      <ul>
        <li>You can submit any number of papers.</li>
        <li>We accept talks that have been given before at other conferences.</li>
        <li>You will retain copyright to your talk and any supporting materials.</li>
        <li>All talks will be recorded and made available online, free of charge, after the conference.</li>
      </ul>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12 col-sm-6 col-sm-offset-3">
      <h2>Review &amp; Selection Process</h2>

      <ul>
        <li>Reviews are double blind. We take into account novelty, depth, practical impact, and presentation.</li>
        <li>Final selection is done by the organizing committee.</li>
      </ul>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12 col-sm-6 col-sm-offset-3">
      <h2>Reimbursement</h2>

      <ul>
        <li>Selected speakers will recieve free admission to the conference.</li>
        <li>We will reserve one ticket at super early bird price for speakers who aren't selected.</li>
      </ul>
    </div>
  </div>
</div>
