<div class="container full-page">
  <div class="row">
    <div class="col-xs-12 text-center">
      <%= image_tag "logo-vertical", class: "logo" %>

      <div class="intro">
        <span>Two Days • Single Track</span>
        <span>June 23—24, 2017</span>
        <span>Singapore</span>
      </div>

      <%= link_to "Submit a Paper", new_my_paper_path, class: "btn btn-lg btn-success" %>
    </div>
  </div>
</div>
