<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3">

      <h1>Papers</h1>

      <% @papers.each do |paper| %>

        <h2><%= paper.title %></h2>
        <span class="label label-primary"><%= paper.status %></span>
        <span class="label label-primary"><%= paper.speaker_slot %></span>

        <% if paper.editable? %>
          <%= link_to "Edit", edit_my_paper_path(paper), class: "btn btn-default", disabled: current_conference.cfp_closed? %>
        <% end %>

      <% end %>
    </div>
  </div>
</div>
