<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <h1><%= @paper.title %></h1>
      <span class="label label-primary"><%= @paper.status %></span>
      <p><%= @paper.abstract %></p>
    </div>
  </div>
</div>
